<!--jubotron-->
<div class="jumbotron jumbotron-fluid mb-0 jumbo-bg">
  <div class="row marcador align-items-center">
    
    <div class="container overflow:hidden col mx-auto text-center">
      <img class="img-responsive fadeIn" src="assets/logo.png">
    </div>
  </div>
</div>

<!--/jubotron-->

<!--Parallax-->
<div class="parallax"></div>
<!--/Parallax-->

<!--jubotron-->
<div class="jumbotron jumbotron-fluid nav-bg">
  <div class="container">
    <h2 class="text-center text-uppercase text-monospace text-white">Missão</h2>
    <p class="lead text-center font-weight-bold text-white text-monospace">Diminuir a desigualde social no Brasil
      através da
      tecnologia.</p>
  </div>
</div>
<!--/jubotron-->

<!--Container com Card-->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center text-uppercase text-monospace text-secondary">Nossas Ações</h2>
      <h4 class=" text-center text-secondary">Algumas de nossas iniciativas:</h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card border-white">
          <img class="card-img-top" src="assets/gamero.png" width="100" height="200" alt="Imagem de gameficação">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-secondary text-center ">Gamefication</h5>
            <p class="card-text text-secondary text-justify ">Sistema de gamefication para estimular a ajuda ao próximo,
              gerando um
              ranking dos maiores doadores.</p>
          </div>
        </div>
        <div class="card border-white">
          <img class="card-img-top" src="assets/certificado.jpg" width="100" height="200" alt="Imagem de Selo">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-secondary text-center ">Selo certificador</h5>
            <p class="card-text text-secondary text-justify ">Sua empresa certificada como doadora todo ano, gerando
              impacto positivo
              no mercado.</p>
          </div>
        </div>
        <div class="card border-white">
          <img class="card-img-top" src="assets/verificacao.jpg" width="100" height="200" alt="Imagem de verificação">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-secondary text-center">ONGs verificadas</h5>
            <p class="card- text-secondary text-justify ">Toda ONG cadastrada passa por um processo de análise para
              garantir sua
              idoneidade. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--Artigos-->
  <div class="container">

  <h2 class="text-center text-uppercase text-monospace text-secondary">Artigos</h2>
  <h4 class="text-center text-secondary">Entenda porque sua doação é importante:</h4>
  <br>
  <div class="card-group d-flex justify-content-center ">
    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="card border-white">
        <div class="col mx-auto text-center">
        <img class="align-items-center" src="assets/catraca-livre.jpg" class="card-img-top" alt="..." width="110px" height="110px" class="rounded-circle">
      </div>
      <br>
      <br>
      <br>
      <br>
        <div class="card-body">
          <a href="https://catracalivre.com.br/causando/doacoes-de-empresas-covid-19/" target="_blank">
            <h5 class="card-title text-center text-secondary">Doação de empresas ajudam contra o Covid-19</h5>
          </a>
        </div>
      </div>

      
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="card border-white">
        <div class="col mx-auto text-center">
        <img src="assets/pesWn5Av.jpg" class="card-img-top" alt="..."  width="110px" height="110px" class="rounded-circle">
        </div>
        <br><br><br><br>
        <div class="card-body">
          <a
            href="http://hc.famema.br/2020/07/15/hcfamema-recebe-ha-cinco-meses-doacoes-que-ajudam-no-combate-ao-novo-coronavirus/">
            <h5 class="card-title text-center text-secondary">Benefícios para empresas que fazem doações</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="card border-white">
        <div class="col mx-auto text-center">
        <img src="assets/logo_ciclovivo.jpg" class="card-img-top" alt="..." width="110px" height="110px" class="rounded-circle">
        </div>
        <br><br><br><br>
        <div class="card-body">
          <a href="https://ciclovivo.com.br/covid19/doacoes-ajudam-favelas-e-moradores-de-rua-a-enfrentar-pandemia/"
            target="_blank">
            <h5 class="card-title text-center text-secondary">Doações ajudam favelas e moradores de rua</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
