
.btn-bg{
    background-color:  #8B658B
}

.texto{
    color: white
}

.bg-color{
    color:#6d7993
}

.btn-bg:hover{
    background-color: #6d7993 !important;
}

.animation-doa{
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}